{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if listings %}
        <div class="list-grid">
            {% for l in listings %}
                {% if l.is_active %}
                    <a href="{% url 'listing' l.name %}"><div class="listing">
                        <img src="{{ l.image }}" alt="{{ l.name }}">
                        <h4>{{ l.name }}</h4>
                        <p>by {{ l.owner }}</p>
                        <p>€ {{ l.price }}</p>
                    </div></a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}