{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.name }}
{% endblock %}

{% block body %}
    <h2>{{ listing.name }}</h2>

    <img src="{{ listing.image }}" alt="{{ listing.name }}">
    <p>{{ listing.description }}</p>
    <p>Latest price: € {{ listing.price }}</p>
    <div>
        <div>
            {% for comment in listing.comments.all %}
                <p><strong>{{ comment.author.username }}</strong>: {{ comment.text }}</p>
            {% endfor %}
            <form action="{% url 'comment' listing.name %}" method="POST">
            {% csrf_token %}
            <textarea name="comment" required></textarea>
            <input type="submit" value="Submit comment">
        </div>
        
    </form>
    </div>

{% endblock %}