textarea {
    min-height: 400px;
}

#emails-view div{
    border: 1px solid black;
    padding: 5px;
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
}

#emails-view div p{
    margin: 0;
}

strong{
    margin-right: 10px;
}

h3{
    margin-bottom: 15px;
}

#email-view p{
    margin-bottom: 5px;
}

.read{
    background-color: gainsboro;
}

.unread{
    background-color: white;
}

span{
    display: flex;
    gap: 10px;
}