.body{
    padding: 40px;
}

.btn-cont{
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

.post{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

img{
    max-height: 300px;
    object-fit: contain;
}

.like-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.like-btn:focus{
    outline: none;
}

h2, h3{
    margin-bottom: 20px;
}